/* div.saffron{
    background: #ff6600;
    height: 100px;
}
div.white{
    background: #ffffff;
    height: 100px;
    text-align: center;

}
div.green{
    background: #0a9c05;
    height: 100px;
}
img.chakra{
    margin-top: 10px;
    width:80px;
}
 */

.red{
    background: #c41d1d;
    height: 100px;
}
.blue{
    background: #160d68;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.green{
    background: #296307;
    height: 100px;
}